.popup-wrapper {
    border: 4px solid #003366; 
    border-radius: 10px; 
    padding: 20px; 
    background-color: #fff; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
    height: 100%; 
    color: #fff; 
}

.service-container {
    background: #020035; 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 15px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #fff; 
    text-align: center; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-container:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    z-index: 10;
}

.service-title, .service-description {
    margin: 0;
    color: #fff; 
}
